.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
   
    font-weight: 1000;
    font-size: 30px;
    color: red;
}
.lan ul{
    display: flex;
}

.lan ul li{
    list-style: none;
    margin-right: 20px;
}
.lan ul li button{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
select{
    background-image: url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg');
    color: white;
    width: 100px;
    padding: 10px;
}
option{
    background-color: black;
}

.nav-main::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7; 
   
}
.form{
    color: white;
}
#h1{
    font-weight: bolder;
    width: 600px;
    font-size: 60px;
    margin-left: 200px;
}
.h3{
    font-weight: bolder;
   
    font-size: 30px;
    margin-left: 200px;
}
.form input{
    margin-left: 200px;
    padding: 20px;
 color: white;
    background-color: black;
    opacity: 0.6;
    font-weight: 100;
}
.form button{
    width: 200px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 20px;
    border: none;
}